<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reto Móvil</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>🔥 Survival Guide: El Reto Móvil</h1>

    <p>
        Bienvenido estudiante...
    </p>

    <div class="menu">

        <a href="/reglas">
            <button>📜 Cámara de las Reglas</button>
        </a>

        <a href="/notas">
            <button>🔮 Oráculo de las Notas</button>
        </a>

        <a href="/skills">
            <button>⚔ Skills a desbloquear</button>
        </a>

        <a href="/timeline">
            <button>🕒 Línea del Tiempo</button>
        </a>

    </div>

</body>
</html>