<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Notas</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1> Oráculo de las Notas</h1>

    <h2> Parcial 1</h2>

    <ul>
        <li>Conocimiento: 40%</li>
        <li>Desempeño: 20%</li>
        <li>Producto: 30%</li>
        <li>Integrador: 10%</li>
    </ul>

    <h2>📗 Parcial 2</h2>

    <ul>
        <li>Conocimiento: 40%</li>
        <li>Desempeño: 20%</li>
        <li>Producto: 30%</li>
        <li>Integrador: 10%</li>
    </ul>

    <h2> Parcial 3</h2>

    <ul>
        <li>Conocimiento: 10%</li>
        <li>Desempeño: 10%</li>
        <li>Producto: 30%</li>
        <li>Integrador: 50%</li>
    </ul>

    <a href="/">
        <button>Volver</button>
    </a>

</body>
</html>