<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reglas</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>📜 Cámara de las Reglas</h1>

    <h2>📌 Lineamientos</h2>

    <ul>
        <li>80% de asistencia obligatoria</li>
        <li>3 faltas = final del parcial</li>
        <li>Plagio = 0 para todos</li>
        <li>No entregar trabajos incompletos</li>
        <li>No exámenes fuera de tiempo</li>
        <li>Participación importante en clase</li>
    </ul>

    <h2>📚 Classroom</h2>

    <ul>
        <li>Entregas en PDF</li>
        <li>Subir actividades completas</li>
        <li>Revisión de tareas</li>
        <li>Avisos importantes</li>
    </ul>

    <h2>🎥 Video Reporte</h2>

    <ul>
        <li>Explicar qué se hizo</li>
        <li>Mostrar código</li>
        <li>Explicar funcionamiento</li>
        <li>Duración mínima de 5 minutos</li>
        <li>Debe escucharse nuestra voz</li>
    </ul>

    <a href="/">
        <button>Volver</button>
    </a>

</body>
</html>