<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Skills</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>⚔ Skills a desbloquear</h1>

    <h2>🎯 Objetivo de la materia</h2>

    <p>
        Desarrollar aplicaciones móviles utilizando herramientas
        modernas y programación multiplataforma.
    </p>

    <h2>💻 Tecnologías</h2>

    <ul>
        <li>JavaScript</li>
        <li>React Native</li>
        <li>Componentes</li>
        <li>Screens</li>
        <li>Navigations</li>
        <li>Comunicación con APIs</li>
    </ul>

    <h2>📘 Actividades Teóricas</h2>

    <ul>
        <li>Investigaciones</li>
        <li>Mapas conceptuales</li>
        <li>Cuestionarios</li>
        <li>Exposiciones</li>
    </ul>

    <h2>🛠 Actividades Prácticas</h2>

    <ul>
        <li>Reportes</li>
        <li>Video reportes</li>
        <li>Evidencias en GitHub</li>
    </ul>

    <a href="/">
        <button>Volver</button>
    </a>

</body>
</html>