<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Timeline</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>🕒 Línea del Tiempo</h1>

    <ul>
        <li>02/06/26 → Primer Parcial</li>
        <li>07/07/26 → Segundo Parcial</li>
        <li>11/08/26 → Tercer Parcial</li>
        <li>17/08/26 → Examen Final</li>
    </ul>

    <h2>📌 Eventos importantes</h2>

    <ul>
        <li>Entrega de actividades en Classroom</li>
        <li>Subir evidencias a GitHub</li>
        <li>Entrega de proyecto integrador</li>
    </ul>

    <a href="/">
        <button>Volver</button>
    </a>

</body>
</html>